@import "./vars";

.view{
    min-height: 100vh;
	margin: 0 auto;
}
	
.view--container{
	max-width: 1400px;
	margin: 0 auto;
    padding: 1rem 0;
    &__flex{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }
    &__border{
        border-bottom: 1px solid $grey2;
    }

    .flex-item{
        @media only screen and (max-width: 767px){
            display: block; 
            width: 100%; 
            text-align: center;
            margin: .5rem auto;
        }
    }
}

.view--title{
	color: $dark-grey;
	font-size: $fs-heading-1;
    line-height: 2;
    &__flex{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media screen and (max-width: 767px){
            justify-content: center;
        }
    }
}

.view--title-image{
    max-width: 3rem; 
    margin-right: 1rem;
}

.market-cap-rank{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    background-color: $grey2;
    border-radius: .3rem;
    text-align: center;
}

.view--paragraph{
    font-size: 1.5rem;
    font-weight: 300;
    color: $grey;
}

.view--table{
    width: 100%;
    &__small{
        width: 1000px;
    }
}

.sticky-col {
    left: 0;
    position: sticky;
    width: 140px;
    background-color: inherit;
}

.view--table-header{
	text-align: left;
	font-size: 14px;
    color: $grey;
}

.view--table-header-row{
    height: 2rem;
}
	
.view--table-row{
    height: 3rem;
    &:nth-child(odd){
        background-color: $light-grey;
    }
    &:nth-child(even){
        background-color: $white;
    }
}
		
.view--table-heading{
    vertical-align: middle;
    background-color: $white;
}
	
.view--table-icon{
	max-width: 1rem;
	margin-right: 1rem;
}

.view--table-data{
	color: $dark-grey2;
	vertical-align: middle;
	&:nth-child(1){
        padding-left: 1rem;
    }
		
	&:last-child{
        padding-right: 1rem;
    }
    &__percentage{
        color: $error-red;
    }
    &__green{
        color: $success-green;
    }
}

.view--table-link{
    color: $blue;
	text-decoration: none;
    transition: 0.5s;
    &:hover{
        color: darken($blue, 10%);
    }
}

.view--button{
    display: block;
    width: fit-content;
    font-size: 1rem;
    color: $white;
    border-radius: .25rem;
    background-color: $blue;
    padding: 1rem 2rem;
    margin-left: auto;
    transition: .5s;
    text-align: center;

    &:hover{
        background-color: darken($blue, 10%);
        color: $white;
    }

    @media screen and (max-width: 767px){
        width: -webkit-fill-available;
    }
}


@media screen and (max-width: 320px) {
	.view--container{
        width: 280px;
        flex-direction: column;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1;
            max-width: 100%;
        }
    }

    .view--title{
        font-size: 1.5rem;
    }

    .view--table{
        width: 1400px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px){
    .view--container{
        width: 90%;
        flex-direction: column;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1;
            max-width: 100%;
        }
    }
    .view--title{
        font-size: 1.5rem;
    }

    .view--table{
        width: 1400px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px){
    .view--container{
        width: 85%;
        flex-direction: column;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1;
            max-width: 100%;
        }

    }

    .view--table,
    .view--table__small{
        width: 1400px;
    }
}
