@import "./vars";

.view{
    min-height: 100vh;
	margin: 0 auto;
}
	
.view--container{
	width: 80%;
	margin: 0 auto;
    padding: 1rem 0;
    &__flex{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .flex-item{
        flex: 1 0 calc(25% - 5px);
        max-width: 1 0 calc(25% - 5px);
        margin-bottom: 2rem;
    }

}

.view--title{
	color: $dark-grey;
	font-size: $fs-heading-1;
    line-height: 2;
    &__flex{
        display: flex;
    }
}

.view--paragraph{
    font-size: 1.5rem;
    font-weight: 300;
    color: $grey;
}

.view--table{
	width: 100%;
}

.sticky-col {
    left: 0;
    position: sticky;
    width: 140px;
    background-color: inherit;
}

.view--table-header{
	text-align: left;
	font-size: 14px;
    color: $grey;
}

.view--table-header-row{
    height: 2rem;
}
	
.view--table-row{
    height: 3rem;
    &:nth-child(odd){
        background-color: $light-grey;
    }
    &:nth-child(even){
        background-color: $white;
    }
}
		
.view--table-heading{
    vertical-align: middle;
    background-color: $white;
}
	
.view--table-icon{
	max-width: 1rem;
	margin-right: 1rem;
}

.view--table-data{
	color: $dark-grey2;
	vertical-align: middle;
	&:nth-child(1){
        padding-left: 1rem;
    }
		
	&:last-child{
        padding-right: 1rem;
    }
}

.view--table-link{
    color: $blue;
	text-decoration: none;
    transition: 0.5s;
    &:hover{
        color: darken($blue, 10%);
    }
}

.view--button{
    font-size: 1rem;
    color: $white;
    border-radius: .25rem;
    background-color: $blue;
    padding: 1rem 2rem;
    transition: .5s;
    text-align: center;
    display: inline-block;
    width: auto;
    &:hover{
        background-color: darken($blue, 10%);
        color: $white;
    }

    @media screen and (max-width: 767px){
        width: -webkit-fill-available;
    }

}


@media screen and (max-width: 320px) {
	.view--container{
        width: 280px;
        flex-direction: column;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1;
            max-width: 100%;
        }

    }

    .view--title{
        font-size: 1.5rem;
    }

    .view--table{
        width: 1400px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px){
    .view--container{
        width: 90%;
        flex-direction: column;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1;
            max-width: 100%;
        }
    }
    .view--title{
        font-size: 2rem;
    }

    .view--table{
        width: 1400px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px){
    .view--container{
        width: 85%;
        // flex-direction: row;
        &__overflow{
            overflow: scroll;
        }

        .flex-item{
            flex: 1 0 calc(50% - 5px);
            max-width: 1 0 calc(50% - 5px);
        }

    }

    .view--table{
        width: 1400px;
    }

}
