@import "./vars";

.view{
    min-height: 100vh;
	margin: 0 auto;
}
	
.view--container{
	width: 80%;
	margin: 0 auto;
    padding: 1rem 0;
}

.view--title{
	color: $dark-grey;
	font-size: $fs-heading-1;
	line-height: 2;
}

.view--paragraph{
    font-size: 2rem;
    font-weight: 300;
    color: $grey;
}

.view--table{
	width: 1400px;
}

.sticky-col {
    left: 0;
    position: sticky;
    width: 140px;
    background-color: inherit;
}

.view--table-header{
	text-align: left;
	font-size: 14px;
    color: $grey;
}

.view--table-header-row{
    height: 2rem;
}
	
.view--table-row{
    height: 3rem;
    &:nth-child(odd){
        background-color: $light-grey;
    }
    &:nth-child(even){
        background-color: $white;
    }
}
		
.view--table-heading{
    vertical-align: middle;
    background-color: $white;
}
	
.view--table-icon{
	max-width: 1rem;
	margin-right: 1rem;
}

.view--table-data{
	color: $dark-grey2;
	vertical-align: middle;
	&:nth-child(1){
        padding-left: 1rem;
    }
		
	&:last-child{
        padding-right: 1rem;
    }
}

.view--table-link{
    color: $blue;
	text-decoration: none;
    transition: 0.5s;
    &:hover{
        color: darken($blue, 10%);
    }
}


@media screen and (max-width: 320px) {
	.view--container{
        width: 280px;
        &__overflow{
            overflow: scroll;
        }
    }
    .view--title{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px){
    .view--container{
        width: 95%;
        &__overflow{
            overflow: scroll;
        }
    }
    .view--title{
        font-size: 2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px){
    .view--container{
        width: 80%;
        &__overflow{
            overflow: scroll;
        }
    }
}
