@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

//Colors
$light-grey: #F9F9F9;
$light-grey2: #d6d6d6;
$light-grey3: #f9f9f9;
$grey: #888888;
$dark-grey: #444444;
$white: #ffffff;
$black: #000000;
$blue: #4d94e8;

//Fonts
$font-oswald: 'Oswald', sans-serif;